<!DOCTYPE html>
<html lang="en">
<body>
   <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
     <div class="navbar-header">
      <a class="navbar-brand" href="#">Page Title</a>
     </div>
     <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">ABOUT</a>
        </li>
     </ul>
     </div>
  </nav>
<div>
<router-outlet></router-outlet>
</div>
</body>